# Ignore binary files
*.class
*.jar
*.war
*.ear

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
/.vscode/
/.idea/
/*.iml

# Ignore build directories
/bin/
/build/
/target/

# Ignore temporary files
*.tmp
*.temp
*.swp

Y.Daniel Liang Java.version.10th-.2014Edition.pdf
